  /* Start Global Rules */
  * {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
  }

  body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      text-align: center;
      height: 100vh;
      background-image: url(../images/bg.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
  }

  h1 {
      padding: 0;
      margin: 0;
  }

  ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  a {
      text-decoration: none;
  }

  .container {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
  }

  /* End Global Rules */

  /* Start Media Query */
  /* Small devices */
  @media (min-width: 768px) {
      .container {
          width: 750px;
      }
  }

  /* Medium devices */
  @media (min-width: 992px) {
      .container {
          width: 970px;
      }
  }

  /* Large devices */
  @media (min-width: 1200px) {
      .container {
          width: 1170px;
      }
  }

  /* End Media Query */
  .logo {
      margin-top: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
  }

  .title {
      color: white;
  }

  .masseage {
      position: relative;
      width: 450px;
      height: 250px;
      margin: 50px auto;
      border: 5px solid #E79726;
      border-radius: 20px;
  }

  .masseage::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 460px;
      height: 260px;
      background-color: white;
      z-index: -9999;
      border-radius: 20px;
  }

  .masseage::before {
      content: '';
      position: absolute;
      bottom: -57px;
      left: 50%;
      transform: translateX(-50%);
      border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      border-top: 60px solid white;
      z-index: 2;
  }

  .triangle {
      position: relative;
      width: 200px;
      height: 200px;
      margin: 0 auto;
  }

  .triangle::after {
      content: '';
      position: absolute;
      bottom: -115px;
      left: 50%;
      transform: translateX(-50%);
      border-left: 70px solid transparent;
      border-right: 70px solid transparent;
      border-top: 70px solid white;
  }

  .triangle::before {
      content: '';
      position: absolute;
      bottom: -7px;
      left: 50%;
      transform: translateX(-50%) rotate(180deg) translateY(-97px);
      border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      border-bottom: 60px solid #E79726;
      z-index: 1;
  }

  #result {
      width: 100px;
      height: 40px;
      margin: 50px auto;
      font-size: 40px;
      color: white;
      font-weight: bold;
  }

  #info-year h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      background: linear-gradient(to left, #E68526, #EAB85A);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .Percentage {
      position: relative;
      width: 350px;
      height: 20px;
      margin: 0 auto;
      background-color: white;
      border-radius: 30px;
      margin-top: 100px;
  }

  .progress {
      position: absolute;
      height: 30px;
      background: linear-gradient(90deg, rgba(227, 142, 36, 1) 0%, rgba(229, 152, 36, 1) 100%);
      border-radius: 30px;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid white;
  }

  .gregorian-year {
      width: 200px;
      height: 40px;
      background: linear-gradient(90deg, #E6A824 0%, #E59824 100%);
      position: absolute;
      left: 50%;
      top: 65%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 22px;
      border-radius: 8px;
  }

  @media (max-width:768px) {
      .masseage {
          max-width: 300px;
          max-height: 180px;
      }

      .masseage::after {
          max-width: 310px;
          max-height: 190px;
      }

      .triangle::before {
          bottom: 62px;
      }

      .triangle::after {
          bottom: -45px;
      }

      .title {
          margin-top: 20px;
          font-size: 18px;
      }
  }