  /* Start Global Rules */
  * {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
  }

  body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      text-align: center;
      height: 100vh;
      background-image: url(../images/bg-1.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      overflow-y: hidden;
  }

  h1 {
      padding: 0;
      margin: 0;
  }

  ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  a {
      text-decoration: none;
  }

  .container {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
  }

  /* End Global Rules */

  /* Start Media Query */
  /* Small devices */
  @media (min-width: 768px) {
      .container {
          width: 750px;
      }
  }

  /* Medium devices */
  @media (min-width: 992px) {
      .container {
          width: 970px;
      }
  }

  /* Large devices */
  @media (min-width: 1200px) {
      .container {
          width: 1170px;
      }
  }

  /* End Media Query */

  
  .title {
         color: white;
         position: relative;
         top: -52px;
  }
  .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  option{
    width: 50px;
    height: 30px;
  }
  select{
    width: 50px;
    background-color: #A933AC;
    color: white;
    border: 1px solid yellow;
    height: 35px;
    outline: none;
    font-size: 18px;
    border-radius: 8px;
  }
.contact-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  .masseage {
      position: relative;
      width: 450px;
      height: 200px;
      margin: 30px auto;
      border: 5px solid #A933AC;
      border-radius: 20px;
  }

  .masseage::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 460px;
      height: 210px;
      background-color: white;
      z-index: -9999;
      border-radius: 20px;
  }

  .masseage::before {
      content: '';
      position: absolute;
      bottom: -57px;
      left: 50%;
      transform: translateX(-50%);
      border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      border-top: 60px solid white;
      z-index: 2;
  }

  .triangle {
      position: relative;
      width: 200px;
      height: 200px;
      margin: 0 auto;
  }

  .triangle::after {
      content: '';
      position: absolute;
      bottom: -65px;
      left: 50%;
      transform: translateX(-50%);
      border-left: 70px solid transparent;
      border-right: 70px solid transparent;
      border-top: 70px solid white;
  }

  .triangle::before {
      content: '';
      position: absolute;
      bottom: 43px;
      left: 50%;
      transform: translateX(-50%) rotate(180deg) translateY(-97px);
      border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      border-bottom: 60px solid #A933AC;
      z-index: 1;
  }

  #result {
      width: 100px;
      height: 15px;
      margin: 10px auto;
      font-size: 40px;
      color: white;
      font-weight: bold;
  }
.remaining-days{
    margin-bottom: 4px;
}
.remaining-weeks{
    margin-top: 4px;
}
  #info-year h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      background: linear-gradient(90deg, #AB34AE -19.02%, #92278F 124.46%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .Percentage {
      position: relative;
      width: 350px;
      height: 20px;
      margin: 0 auto;
      background-color: white;
      border-radius: 30px;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      top: 30px;
  }

  .progress {
      position: absolute;
      height: 30px;
      background: linear-gradient(90deg, #AB34AE -19.02%, #92278F 124.46%);
      border-radius: 30px;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid white;
  }

  .gregorian-year {
      width: 200px;
      height: 40px;
      background: linear-gradient(90deg, #AB34AE -19.02%, #92278F 124.46%);
      position: absolute;
      left: 50%;
      top: 65%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 22px;
      border-radius: 8px;
  }
.remaining-days,.remaining-weeks,.currentDate-element,.currentDate-element-p{
    font-size: 18px;
    color: white;
}
footer{
    position: relative;
}
.contact-us{
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}
.contact-us a{
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
}
footer p{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: white;
}
  @media (max-width:768px) {
      .masseage {
          max-width: 300px;
          max-height: 180px;
      }
      #result{
        height: 5px;
        margin-top: 5px;
      }
      .masseage::after {
          max-width: 310px;
          max-height: 190px;
      }
      .remaining-weeks{
        margin-top: 1px;
      }
      .remaining-days{
        margin-top: 33px;   
        margin-bottom: 8px;
      }
      .triangle::before {
          bottom: 63px;
      }

      .triangle::after {
          bottom: -45px;
      }

      .title {
          margin-top: 16px;
          font-size: 18px;
      }
      .gregorian-year{
        top: 69%;
      }
  }